@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: "Norse";
    src: url(./assets/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Norse', 'Roboto', sans-serif;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fda4af;
    height: 6rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.title h1 {
    font-size: 5rem;
}

.newBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0px;
}

.newBtn button {
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    background-color: #e0ffcd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.newBtn button:active {
    transform: translateY(2px);
}

.popUp {
    display: none;
    position: fixed;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
}

form {
    background-color: #ffe9e3;
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.titlePopUp {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: baseline;
}

.titlePopUp legend {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.titlePopUp .close {
    font-size: 2.5rem;
    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.inputs label {
    font-size: 1.2rem;
}

.inputs input {
    width: 100%;
    padding: 5px;
    margin: 8px 0px;
    border-radius: 4px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.checkBox {
    margin: 10px 0px;
}

.checkBox div:first-of-type {
    display: flex;
    column-gap: 5px;
}

.checkBox label {
    font-size: 1.2rem;
}

.checkBox input {
    width: 20px;
}

button[type="submit"] {
    border: none;
    border-radius: 5px;
    padding: .5rem 2rem;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    background-color: #ffcbcb;
}

button[type="submit"]:hover {
    cursor: pointer;
    background-color: #ffb5b5;
    transition: all .3s;
}

#library {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 250px));
    grid-auto-rows: 230px;
    gap: 1.5rem;
    padding: 2rem;
}

.book {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
    border-left: 15px solid #5585b5;
    border-radius: 0.4rem;
    font-size: 1.2rem;
}

.readBtn, 
.removeBtn {
    width: 70%;
    padding: 0.3rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
}

.removeBtn {
    background-color: #fda4af;
}